<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>회원가입 화면 </h2>
<form class="form-signin" method="post" action="/login/join">

    <span><input type="text" id="username" name="username" class="form-control" placeholder="아이디" autofocus="" /></span>
    <br>
    <input type="text" id="password" name="password" class="form-control" placeholder="비밀번호" />
    <br>
    <br>
    <input id="joinBtn" style="display :inline-block;"type="submit" class="btn btn-info active" value="회원가입" />
    <a href="/login/login" class="btn btn-info active" role="button">로그인</a>

</form>
</body>
</html>